<h1>All Order Lists</h1>

<%= link_to 'Create a new order list', new_order_list_path %>

<%= will_paginate %>

<ul class="order_lists">
  <% @order_lists.each do |order_list| %>
    <%= render order_list %> 
  <% end %>
</ul>

<%= will_paginate %>