<%= render :partial => 'invoice', :object => @invoice %>

<div class="navigation">
<%= link_to 'Edit', edit_user_invoice_path(@invoice.user, @invoice) %> |
<%= link_to 'Back', user_path(@invoice.user) %>
</div>