<h1>Editing order_listing</h1>

<%= render 'form' %>

<%= link_to 'Show', order_list_order_listing_path(@order_list,@order_listing) %> |
<%= link_to 'Back', order_list_order_listings_path(@order_list) %>
