<% if current_user.admin? %>
  <%= render :partial => 'common/breadcrumbs', :object => [['Administer Site', admin_path], ['All Users', users_path], "Edit #{@user.name}"] %>
<% else %>
  <%= render :partial => 'common/breadcrumbs', :object => ["Edit #{@user.name}"] %>
<% end %>

<%= render :partial => 'form', :locals => { :submit_text => 'Update'}%>

<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">change</a>
</div>
