<%= render :partial => 'common/breadcrumbs', :object => [['Administer Site', admin_path], 'All Users'] %>

<div class="row">
<%= will_paginate %>
</div>
<div class="row">
<table class="table table-striped table-bordered">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</table>
</div>
<div class="row">
<%= will_paginate %>
</div>