<tr>
  <td>
    <%= product_family.name %>
  </td>
  <td><%= product_family.products.size %></td>
  <td>
    <div class="button_holder">
    <% if current_user.admin? %>
      <%= button_to "delete", product_family_path(product_family),  :method => :delete, :confirm => 'Are you sure?' %>
      | <%= link_to "edit", edit_product_family_path(product_family) %>
    <% end %> 
    </div> 
  </td>
</tr>