<%= render :partial => 'common/breadcrumbs', :object => [['Administer Site', admin_path], ['All Product Families', product_families_path], "New Product Family"] %>

<div class="row">
<h1>Create New Product Family</h1>
</div>

<div class="row">
<%= render 'form' %>
</div>
