<%= render :partial => 'common/breadcrumbs', :object => [['Administer Site', admin_path], ['All Product Families', product_families_path], "#{@product_family.name}"] %>

<div class="row">
<h2>
  <%= @product_family.name %></h2>
</div>

<div class="row">
<p><%= link_to 'Add a new product', new_product_family_product_path(@product_family), :class => "btn btn-primary"%></p>
</div>

<div class="row">
<table class="table table-striped table-bordered">
<% @product_family.products.each do |product| %>
  <%= render product %>
<% end %>
</table>
</div>
