<h1><%= @title %></h1>

<ul>
  <li><%= link_to 'Manage Users', users_path %></li>
  <li><%= link_to 'Manage Products', products_path %></li>
  <li><%= link_to 'Manage Order Lists', order_lists_path %></li>
</ul>