<h1>Editing orderable</h1>

<%= render 'form' %>

<%= link_to 'Show', order_list_order_listing_orderable_path(@order_list, @order_listing, @orderable) %> |
<%= link_to 'Back', order_list_order_listing_orderables_path(@order_list, @order_listing) %>
