<li>
  <%= link_to product.name, product %><br />
  <%= product.description %>
  <div class="button_holder">
  <% if current_user.admin? %>
    <%= button_to "delete", product, :method => :delete, :confirm => "You sure?",
                                  :title => "Delete #{product.name}" %>
    | <%= link_to "edit", edit_product_path(product) %>
  <% end %> 
  </div>
  
</li>