<h1>All Products</h1>

<%= link_to 'Add a new product', new_product_path %>

<%= will_paginate %>

<ul class="products">
  <% @products.each do |product| %>
    <%= render product %>
  <% end %>
</ul>

<%= will_paginate %>

