<ul class="breadcrumb">
  <% breadcrumbs.each_with_index do |x,i| %>
     <% unless i == 0 %>
        <span class="divider">/</span>
     <% end %>
     <%= x.is_a?(Array) ? link_to(x[0].to_s, x[1]) : x %> 
  <% end %> 
</ul>
