<header>
  <%= image_tag("logo.png", :alt => "Market List Logo", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", contact_path %></li>
      <li><%= link_to "Sign in", root_path %></li>
    </ul>
  </nav>
</header>